$main-bg-color:#313C42;
$main-container-color:#333;

body{
	background-image:url("../images/footer_lodyas.png");
	color:black;
	font-family: 'Orbitron', sans-serif;
}

h1{
	margin-left:10%;
	margin-top:10vh;
	text-align:center;
	width:80%;
}

img{
	display:block;
	float:left;
	height:auto;
	width:30%;
}

.team{
	background-color:rgba($main-container-color, 0.63);
	height:250px;
}

.team.loser{
	background-color:rgba(165, 19, 19, 0.5);
}

.team.winner{
	background-color:rgba(green, 0.5);
}

.winner-button{
	height: 30%;
	width: 40%;
	margin-left: 30%;
	margin-top: 10%;
}

@media(max-width:979px){
	#radiant, #dire{
		img:first-child{
			margin-left:5%;
		}
		img:nth-child(4){
			margin-left:20%;
		}
	}

}


@media (min-width: 980px) {

	img{
		width:20%;
	}
	
	#newGameButton{
		margin-left:45%;
		margin-top:10vh;
		width:10%;
	}

	.team{
		margin-top:8vh;
	}

 }